-- DropForeignKey
ALTER TABLE "public"."cotizacion_imagenes" DROP CONSTRAINT "fk_cotizacion_imagenes_cotizacion";

-- DropIndex
DROP INDEX "public"."producto_imagenes_hash_original_key";

-- DropIndex
DROP INDEX "public"."idx_producto_imagenes_principal";

-- DropIndex
DROP INDEX "public"."idx_producto_imagenes_hash";

-- AlterTable
ALTER TABLE "public"."clientes" ALTER COLUMN "institucion" SET DATA TYPE VARCHAR;

-- AlterTable
ALTER TABLE "public"."producto_imagenes" DROP COLUMN "alto",
DROP COLUMN "ancho",
DROP COLUMN "descripcion",
DROP COLUMN "estado",
DROP COLUMN "fecha_actualizacion",
DROP COLUMN "hash_original",
DROP COLUMN "nombre_archivo",
DROP COLUMN "ruta_bucket",
DROP COLUMN "tamanio",
DROP COLUMN "tipo_mime",
DROP COLUMN "url_original",
DROP COLUMN "url_thumb",
ADD COLUMN     "url_imagen" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "public"."cotizaciones" ALTER COLUMN "fecha_validez" SET DEFAULT (CURRENT_DATE + '10 days'::interval),
ALTER COLUMN "dias_entrega" DROP DEFAULT,
ALTER COLUMN "dias_entrega" SET DATA TYPE SMALLINT,
ALTER COLUMN "fecha_creacion" SET DATA TYPE TIMESTAMP(6);

-- DropTable
DROP TABLE "public"."cotizacion_imagenes";

